---
import CaseStudyLayout from '../layouts/CaseStudyLayout.astro';
import Figure from '../components/Figure.astro';

const metadata = [
  { label: 'Platform', value: 'Mobile, Web' },
  { label: 'Roles', value: 'Product Design, Prototyping' },
  { label: 'Year', value: '2023' },
  { label: 'Tools', value: 'Figma, Adobe XD' }
];

const metrics = [
  { value: '##', label: 'Metric label one' },
  { value: '##', label: 'Metric label two' },
  { value: '##', label: 'Metric label three' }
];
---

<CaseStudyLayout
  title="Case Study Three"
  description="Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae itaque earum rerum hic tenetur a sapiente delectus."
  heroImageSrc="/placeholders/hero-1.svg"
  heroImageAlt="Case Study Three Hero"
  metadata={metadata}
  metrics={metrics}
>
  <!-- Two-column layout: small left, large right -->
  <div class="content-block-2col">
    <Figure
      src="/placeholders/image-left.svg"
      alt="Left aligned image"
      caption="Ut aut reiciendis voluptatibus maiores alias."
    />
    <Figure
      src="/placeholders/image-right.svg"
      alt="Right aligned larger image"
      caption="Consequatur aut perferendis doloribus asperiores repellat vel qui eum."
    />
  </div>

  <!-- Text block -->
  <div class="content-block-text">
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>

  <!-- Full width image -->
  <div class="content-block-full">
    <Figure
      src="/placeholders/image-full.svg"
      alt="Full width image"
      caption="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit."
    />
  </div>

  <!-- Offset right image -->
  <div class="content-block-offset-right">
    <Figure
      src="/placeholders/image-small.svg"
      alt="Right offset image"
      caption="Sed quia consequuntur magni dolores eos qui ratione."
    />
  </div>

  <!-- Text block -->
  <div class="content-block-text">
    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
  </div>

  <!-- Large image -->
  <div class="content-block-full">
    <Figure
      src="/placeholders/hero-1.svg"
      alt="Large content image"
      caption="Ut enim ad minima veniam quis nostrum exercitationem ullam corporis suscipit."</
    />
  </div>

  <!-- Two-up images at bottom -->
  <div class="content-block-2up">
    <Figure
      src="/placeholders/square-1.svg"
      alt="Two-up image left"
      caption="Laboriosam nisi ut aliquid ex ea commodi consequatur."
    />
    <Figure
      src="/placeholders/square-1.svg"
      alt="Two-up image right"
      caption="Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse."
    />
  </div>
</CaseStudyLayout>
