---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Garry Grewal">
  <div class="project-grid">
    <!-- Wide tile at top -->
    <a href="/casestudy1" class="tile tile-1">
      <img src="/placeholders/wide-1.svg" alt="Case Study 1" class="tile-image" />
      <div class="tile-meta">
        <span class="tile-title">Title</span>
        <span class="tile-subtext">subtext</span>
      </div>
    </a>

    <!-- Tall tile left -->
    <a href="/casestudy2" class="tile tile-2">
      <img src="/placeholders/tall-1.svg" alt="Case Study 2" class="tile-image" />
      <div class="tile-meta">
        <span class="tile-title">Title</span>
        <span class="tile-subtext">subtext</span>
      </div>
    </a>

    <!-- Square tile right -->
    <a href="/casestudy3" class="tile tile-3">
      <img src="/placeholders/square-1.svg" alt="Case Study 3" class="tile-image" />
      <div class="tile-meta">
        <span class="tile-title">Title</span>
        <span class="tile-subtext">subtext</span>
      </div>
    </a>

    <!-- Wide tile near bottom -->
    <a href="/casestudy4" class="tile tile-4">
      <img src="/placeholders/wide-2.svg" alt="Case Study 4" class="tile-image" />
      <div class="tile-meta">
        <span class="tile-title">Title</span>
        <span class="tile-subtext">subtext</span>
      </div>
    </a>
  </div>
</Layout>
