---
---

<footer class="footer">
  <div class="footer-content">
    <a href="/" class="footer-logo">Garry Grewal</a>
    <a href="mailto:garrygrewal22@gmail.com" class="footer-email">garrygrewal22@gmail.com</a>
  </div>
</footer>
