---
---

<header class="header">
  <div class="header-content">
    <a href="/" class="header-logo">Garry Grewal</a>
    <nav class="header-nav">
      <a href="/about">About</a>
    </nav>
  </div>
</header>
